.footer-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid white;
    color: white;
}

.footer-column {
    display: flex;
    justify-content: space-evenly;
}

.footer-section p {
    margin: 10px;
    cursor: pointer;
}

.footer-section p:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    text-underline-offset: 0.2em;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
    color: white;
    padding: 20px;
}

@media screen and (max-width:400px) {

    .footer-column {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-column div:last-child {
        display: none;
    }
}