<footer class="footer-section">
  <div class="footer-column">
    <div>
      <p>Start</p>
      <p>Contact Us</p>
      <p>Our Services</p>
      <p>Our Team</p>
    </div>
    <div>
      <p>Home</p>
      <p>Get in Touch</p>
      <p>Services</p>
      <p>Meet the Team</p>
    </div>

    <div>
      <p>Main Page</p>
      <p>Reach Out</p>
      <p>Service Catalog</p>
      <p>Our Crew</p>
      <p>© 2024 Ritesh Dudhkohale</p>
    </div>
  </div>
  <div class="copyright">Unpublished Work © 2024 Ritesh Dudhkohale</div>
</footer>
