<header class="header-container dark-nav">
  <img src="assets/netflix-logo-png-2582.png" alt="" />
  <div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#tv-shows">TV Shows</a></li>
      <li><a href="#news-pooular">News & Popular</a></li>
      <li><a href="#topRated">Top Rated</a></li>
      <li><a href="#">My List</a></li>
    </ul>
  </div>
  <div class="user-profile">
    <span>Hello Ritesh</span>
    <img src="assets/icons8-netflix-50.png" alt="" />
  </div>
</header>
