<div class="container">
  <p class="font-semibold">{{ title }}</p>
  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
      <ng-container *ngFor="let movie of videoContents">
        <div
          (mouseenter)="setHoverMovie(movie)"
          (mouseleave)="clearHoverMovie()"
          class="swiper-slide relative"
        >
          <img [src]="movie.poster_path | image" alt="" />
          <div @fade *ngIf="(movie.title === this.selectedContent) || (movie.name === this.selectedContent)" class="desc">
            <span class="moviename">{{ movie.original_title }}</span>
            <p class="text-xs my-3">{{ movie.overview | description : 150 }}</p>
            <div class="py-3 absolute w-[90%] bottom-1">
              <p class="text-xs flex justify-between items-center">
                <span class="text-green">
                  Vote Average : {{ movie.vote_average }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
