.container {
  color: white;
  margin: 15px;
}

.font-semibold {
  font-size: 1.5rem;
  font-weight: bold;
}

.swiper-container {
  height: 300px;
}

.swiper-wrapper {
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  position: relative;
  width: 230px;
  height: 90%;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.swiper-slide:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.movie-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 60%;
  bottom: 0;
  padding: 10px;
  background-color: rgba(37, 37, 37, 0.548);
  transition: all 300ms ease-in-out;
}

.m-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.m-description {
  font-size: 1rem;
}

.m-rating {
  color: #07a76c;
  font-size: 1.1rem;
  font-weight: 700;
}

@media screen and (max-width: 400px) {
  .swiper-slide {
    width: 90%;
  }
}

@media screen and (min-width:401px) and (max-width: 720px) {
  .swiper-slide {
    width: 50%;
  }
}