<div class="container">
  <p class="font-semibold" [id]="sectionId">{{ title }}</p>
  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
      <ng-container *ngFor="let movie of videoContents">
        <div
          (mouseenter)="setHoverMovie(movie)"
          (mouseleave)="clearHoverMovie()"
          class="swiper-slide"
        >
          <img [src]="movie.poster_path | image" alt="" />
          <div
            class="movie-info"
            *ngIf="
              selectedContent === movie.title || selectedContent === movie.name
            "
          >
            <p class="m-name">{{ movie.original_title }}</p>
            <p class="m-description">
              {{ movie.overview | description : 150 }}
            </p>
            <p class="m-rating">
              <span class="text-green">
                Vote Average : {{ movie.vote_average }}
              </span>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
