<video width="100%" height="1%" autoplay loop>
  <source src="/assets/banner-video.mp4" type="video/mp4"/>
  Your browser does not support the video tag.
</video>

<div class="info-screen">
  <h1>One-Peice</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae enim
    magni consectetur deleniti, et voluptate veniam temporibus, doloribus amet
    atque impedit tenetur, eligendi soluta laudantium voluptates dolorum ipsum.
    Nihil ipsa exercitationem laboriosam dolorum, mollitia doloremque
    consequatur voluptate tempore sunt veritatis officiis? Voluptates officia
    nostrum aut unde fugiat quis sequi ea!
  </p>
  <div class="dire-btn">
    <button>Watch</button>
    <button>More Info</button>
  </div>
</div>
